.containerCard {
  position: relative;
  overflow: hidden;
  height: clamp(200px, 30vw, 350px);
  width: clamp(280px, 40vw, 500px);
  margin-top: clamp(3px, 1vw, 10px);
  border: 2px solid rgba(255, 255, 255, 0.116);
  border-radius: clamp(3px, 4vw, 18px);
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.151);
  &:hover,
  :focus {
    background-color: rgba(0, 0, 0, 0.582);

    .description {
      transform: translateY(0%);
    }
  }
}
.background {
  z-index: -1;
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 550px;
}
.description {
  transition: all 0.5s;
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  padding: 8px 15px;
  background-color: rgba(0, 0, 0, 0.555);
  border-radius: 8px;
  .github {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .iconLink {
      padding-top: 5px;
      width: 15px;
    }
  }
  .pText {
    font-size: 15px;
    margin: 2px;
  }
}
@media (max-width: 768px) {
  .containerCard {
    height: clamp(200px, 20vw, 350px);
    width: clamp(280px, 20vw, 500px);
    .background {
      background-size: 340px;
    }
  }
}
