@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.gradient {
  background: rgb(1, 0, 43);
  background: linear-gradient(
    48deg,
    rgba(1, 0, 43, 1) 0%,
    rgba(0, 66, 139, 1) 24%,
    rgba(66, 160, 252, 1) 42%,
    rgba(182, 126, 250, 1) 65%,
    rgba(252, 69, 245, 1) 100%
  );
  filter: blur(164.3016815185547px);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
