.App,
button {
  font-family: Frutiger;
  color: white;
}
.Link {
  text-decoration: none;
}
body {
  height: 100vh;
  position: relative;
  z-index: 1;
  animation: loadPage 0.5s ease-in;
  background: radial-gradient(at center top, #0b0d24, #010101);
}
@keyframes loadPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }}

  body {
    animation: gradientAnimation 10s ease infinite;
    background-size: 400% 400%;
  }
  @keyframes gradientMove {
    0% {
      transform: rotate(-15deg) scale(1) translate(0px, 0px);
      opacity: 1;
    }
    25% {
      transform: rotate(-30deg) scale(1.1) translate(-30px, 20px);
      opacity: 0.8;
    }
    50% {
      transform: rotate(15deg) scale(0.93) translate(30px, -20px);
      opacity: 0.7;
    }
    75% {
      transform: rotate(30deg) scale(1.05) translate(20px, 30px);
      opacity: 0.8;
    }
    100% {
      transform: rotate(-15deg) scale(1) translate(0px, 0px);
      opacity: 1;
    }
  }