.App,
button {
  font-family: Frutiger;
  color: white;
}
.Link {
  text-decoration: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: clamp(9px, 2vw, 22px);
  font-weight: 500;
  border: none;
  padding: clamp(5px , 5vw, 10px)  clamp(3px, 5vw,5px);
  margin: 0;
  background-color: transparent;
  transition: text-shadow 0.3s;
  
}
.Link:hover {
  text-shadow: 0 0 5px #ffffff, 0 0 25px #ffffff, 0 0 50px #ffffff, 0 0 80px #ffffff;
}
body {
  height: 100vh;
  position: relative;
  z-index: 1;
  animation: loadPage 0.5s ease-in;
  background: radial-gradient(at center top, #0b0d24, #010101);
}
@keyframes loadPage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }}

  body {
    animation: gradientAnimation 10s ease infinite;
    background-size: 400% 400%;
  }
  @keyframes gradientMove {
    0% {
      transform: rotate(-15deg) scale(1) translate(0px, 0px);
      opacity: 1;
    }
    25% {
      transform: rotate(-30deg) scale(1.1) translate(-30px, 20px);
      opacity: 0.8;
    }
    50% {
      transform: rotate(15deg) scale(0.93) translate(30px, -20px);
      opacity: 0.7;
    }
    75% {
      transform: rotate(30deg) scale(1.05) translate(20px, 30px);
      opacity: 0.8;
    }
    100% {
      transform: rotate(-15deg) scale(1) translate(0px, 0px);
      opacity: 1;
    }
  }