.contrainerProject {
  z-index: 2;
  margin-top: clamp(20px, 5vw, 80px);
  padding: 0px clamp(20px, 22vw, 350px);
  font-weight: 500;
  .containerProjects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .titleCotnainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .selectContainer {
      display: flex;
      align-items: center;
      .h2Text {
        margin-right: 10px;
      }
    }
    .title,
    .titleSelect {
      display: block;
      font-size: clamp(20px, 2vw, 28px);
      font-weight: 600;
    }
  }
}
@media (max-width: 580px) {
  .contrainerProject {
    .titleCotnainer {
      .titleSelect {
        display: none;
      }
    }
  }
}
