@font-face {
  font-family: 'Frutiger';
  src: url(/src/fonts/FrutigerLTStd-Roman.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Frutiger';
  src: url(/src/fonts/FrutigerLTStd-Light.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Frutiger';
  src: url(/src/fonts/FrutigerLTStd-Bold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Frutiger';
  src: url(/src/fonts/FrutigerLTStd-Black.ttf);
  font-weight: 700;
  font-style: normal;
}
